.part2{
    background: rgba(242,206,218, .3);
    width: 95%;
    height: 544px;
    display: flex;
    align-items: center;
    .container{
        display: flex;
        .left{
            padding-left: 204px;
            padding-top: 141px;
            width: 50%;
            h1{
                width: 349px;
                height: 98px;
                font-family: 'Hind Madurai';
                font-style: normal;
                font-weight: 600;
                font-size: 44.2px;
                line-height: 49px;
                color: #150101;
            }
            h5{
                width: 442px;
                height: 58px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #150101;
                opacity: 0.6;
                margin: 16px auto 35px;
            }
        }
    }
}